@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
h2 {
  font-weight: normal;
}
html {
  font-size: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LAYOUT */
main {
  width: 90%;
  height: 94%;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.playersbox {
  display: flex;
  margin-top: 3.7rem;
  width: 90%;
  height: 100%;
}

.player {
  flex: 50%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
  justify-content: space-around;
}

/* ELEMENTS */
.name {
  text-align: center;
  position: relative;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 10px 5px;
  background: none;
  width: 7rem;
  border: none;
  font-family: "Nunito", sans-serif;
  color: #333;
}
.name:focus-visible {
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.score {
  font-size: 3rem;
  color: #c7365f;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 9px;
}

.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

.current {
  background-color: #c7365f;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;

  padding: 0.5rem 1rem;
  text-align: center;
  transition: all 0.75s;
}

.current-label {
  text-transform: uppercase;
  /* margin-bottom: 1rem; */
  font-size: 0.9rem;
  color: #ddd;
}

.current-score {
  font-size: 1rem;
}
.buttons {
  margin-top: 4rem;
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 10rem;
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  padding: 0.5rem 1rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn::first-letter {
  /* font-size: 2.4rem; */
  display: inline-block;
  margin-right: 0.7rem;
}

.btn--new {
  top: 0.6rem;
}
.btn--roll {
  bottom: 0.8rem;
  transform: translateX(-115%);
}

.btn--hold {
  bottom: 0.8rem;
  transform: translateX(13%);
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.btn--roll:active {
  transform: translate(-115%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.btn--hold:active {
  transform: translate(13%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.dice {
  border-radius: 9px;
  position: absolute;
  top: 7rem;
  height: 3.7rem;
  width: 3.7rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.player--winner {
  background-color: #2f2f2f;
}

.player--winner .name {
  font-weight: 700;
  color: #c7365f;
}

.hidden {
  display: none;
}

.winningpage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  text-align: center;
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.winningpage p {
  font-family: inherit;
  font-size: 1.2rem;
}
.winnerName {
  font-family: inherit;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  color: darkgreen;
  margin-top: 20px;
  text-transform: uppercase;
  background-color: rgba(0, 100, 0, 0.1);
  border-radius: 10px;
  padding: 15px 5px;
}
.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 1.5rem;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.rotatephone {
  width: 200px;
}
.full {
  position: absolute;
  left: 90%;
  top: 1rem;
  transform: translateX(-50%);
  width: 1.1rem;
  cursor: pointer;
}
.howto {
  position: absolute;
  left: 96%;
  top: 1rem;
  transform: translateX(-50%);
  width: 1.1rem;
  cursor: pointer;
}
.console {
  position: absolute;
  left: 85%;
  top: 1rem;
  transform: translateX(-50%);
  width: 1.1rem;
  cursor: pointer;
}
.howtopage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  background-color: white;
  padding: 2rem 3rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.selectmulti {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  background-color: white;
  padding: 2rem 3rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.closeinfo {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
.howtopage ul {
  margin: 1rem 2rem;
}

.multioptions {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
}
.closemulti {
  position: absolute;
  top: 1.2rem;
  right: 1.5rem;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
.console {
  width: 1.4rem;
  left: 83%;
  top: 0.8rem;
}
.btn--multi,
.btn--single {
  font-family: inherit;
  padding: 1rem;
  font-size: 1rem;
}

@media screen and (min-width: 900px) {
  html {
    font-size: 62.5%;
  }

  /* LAYOUT */
  main {
    width: 85rem;
    height: 60rem;
  }

  .player {
    padding: 9rem;
  }

  /* ELEMENTS */
  .name {
    font-size: 4rem;
    margin-bottom: 1rem;
    width: 240px;
  }

  .score {
    font-size: 8rem;
    font-weight: 300;
    margin-bottom: auto;
  }

  .current {
    width: 65%;
    padding: 2rem;
  }

  .current-label {
    margin-bottom: 1rem;
    font-size: 1.7rem;
  }

  .current-score {
    font-size: 3.5rem;
  }

  /* ABSOLUTE POSITIONED ELEMENTS */
  .btn {
    font-size: 1.8rem;
    font-weight: 400;
    width: 21rem;
    padding: 0.7rem 1rem;
  }

  .btn::first-letter {
    font-size: 2.4rem;
  }

  .btn--new {
    top: 4rem;
  }
  .btn--multi {
    top: 16rem;
  }
  .btn--single {
    top: 10rem;
  }
  .btn--roll {
    bottom: 16rem;
    transform: translateX(-50%);
  }
  .btn--hold {
    bottom: 9rem;
    transform: translateX(-50%);
  }
  .btn--roll:active {
    transform: translate(-50%, 3px);
  }
  .btn--hold:active {
    transform: translateX(-50%);
  }

  .dice {
    position: absolute;
    left: 50%;
    top: 16.5rem;
    transform: translateX(-50%);
    height: 12rem;
    width: 12rem;
  }

  .playersbox {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .buttons {
    margin: 0;
  }
  .winningpage {
    width: 50rem;
  }
  .winningpage p {
    font-size: 2rem;
  }
  .close-modal {
    font-size: 4rem;
  }
  .winnerName {
    font-size: 4rem;
    width: 70%;
    margin: 1.5rem auto;
  }
  .full {
    left: 91%;
    top: 1.5rem;
    width: 2rem;
  }
  .howto {
    left: 96%;
    top: 1.5rem;
    width: 2rem;
  }
  .howtopage {
    font-size: 1.5rem;
    width: 60%;
    padding: 4rem;
  }
  .console {
    left: 85%;
    top: 1.1rem;
    width: 3rem;
  }
  .selectmulti {
    font-size: 1.5rem;
    width: 60%;
    padding: 4rem;
  }
  .btn--multi,
  .btn--single {
    font-family: inherit;
    padding: 1rem;
    font-size: 2rem;
  }
  .closemulti {
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;
    font-size: 3.5rem;
    color: #333;
    cursor: pointer;
    border: none;
  }
  .multioptions {
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (orientation: portrait) {
  .orient {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 1) 10%,
      rgba(230, 230, 230, 1) 100%
    );

    z-index: 15;
    text-align: center;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .orient p {
    margin: 1.5rem;
  }
}
@media screen and (orientation: landscape) {
  .orient {
    display: none;
  }
}
